@{
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2 style="color: red">Bạn không có quyền để có thể sử dụng chức năng này 😢😢😢😢</h2>
    </hgroup>
</body>
</html>

