.title-manage {
    text-align: center;
    margin: 0;
    padding: 24px;
    color: #dc2626;
}

.error {
    display: block;
    padding: 8px 0;
    color: red;
}

a.textnone {
    font-size: 14px;
    color: white;
    position: absolute;
    text-decoration: none;
    background-color: #ABBAC3;
    height: 42px;
    width: 64px;
    text-align: center;
    padding-top: 11px;
    margin-left: 5px;
}

.pagination-custom li {
    display: inline;
}

.space {
    margin-bottom: 3px;
}

.custom > a {
    color: #fff;
}
