
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

<div class="index-back">
    <img src="~/Content/imagedetail/backgoundadmin.jpg" width="100%" height="auto"/>
</div>


